.content {
    font-size: 35px;
    text-align: center;
    margin: auto;
    color: white;
    background-color: black;
    width: 650px;
    height: 500px;
    border-style: solid;
    border-radius: 2%;
    
}
/* .currentWorkoutDescription {
    
} */

.currentWorkoutButtons {
text-align: center;
}

.currentWorkoutButtons button {
font-size: 50px;
margin-inline: 80px;
margin-top: 30px;
color: black;
background-color: lightgrey;
}
.currentPic {
    width: 300px;
    height: 300px;
}