#homepageImage {
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.homepageText {
    position: relative;
}

.textHomepage {
    position: absolute;
    left: 16px;
    
}