* {
    box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
  }
.statisticsh1 h1 {
    font-size: 80px;
    text-align: center;
    background-color: rgb(17, 75, 2);
}

.leftbox {
    float: left; 
    background:Red;
    width:20%;
    height:230px;
    margin-right: 150px;
    border-radius: 2%;
    
}
.middlebox {
    float: left;
    background:Green;
    width:20%;
    height:230px;
    margin-right: 150px;
    border-radius: 2%;
}
.rightbox {
    float: left;
    background:blue;
    width:20%;
    height:230px;
    border-radius: 2%;
}
.bottombox {
    text-align: center;
    background: purple;
    width:50%;
    height:300px;
    border-radius: 2%;

}

.statisticsCenter {
    
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.statisticsBottom {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}