@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
 :root {
  --primary: #C0D8C0;
  --light: #ECB390;
  --dark:#DD4A48;
  --bokstaver:#000000;
}
*, *::before *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  background: var(--light);
  font-weight: 400;
}

.nav_links {
  background: var(--dark);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav {
position: absolute;
text-align: left;
top: 100%;
left: 0;
background: var(--dark);
width: 100%;
display: none;
}
.nav-burger {
  display: none;
}
.nav-burger-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  /* border: 1px solid rebeccapurple; */
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-burger-label span,
.nav-burger-label span::before,
.nav-burger-label span::after {
display: block;
background: white;
height: 2px;
width: 2em;
border-radius: 2px;
position: relative;
}
.nav-burger-label span::before,
.nav-burger-label span::after {
  content: '';
  position: absolute;

}
.nav-burger-label span::before{
  bottom: 7px;
}
.nav-burger-label span::after{
  top: 7px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;

}
nav a:hover{
  color: var(--bokstaver);

}
.nav-burger:checked ~ nav {
display: block;
}





/* .headLine{
  font-size: 40px;
    text-align: center;
    color: #F5EEDC;
}
li, a, span {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}
 header {
display: flex;
justify-content: flex-end;
align-items: center ;
padding: 20px 5%;
} 
.nav__links {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-right: auto;
  cursor: pointer;
}

.nav__links {
  list-style: none;
  background-color:  #C0D8C0;

}


.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #0088a9;
  cursor: pointer;
}
.currency {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}
.currency :hover{
  background-color: rgba(0, 136, 169, 0.8);
} */

/* Switch
.switch {
  float: left;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
} 

 /*Rounded sliders */
/* .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */